<img src="{{ site.owner.avatar | relative_url }}" class="bio-photo" alt="{{ site.owner.name }} bio photo" width="100" height="100">

<p>{{ site.owner.bio }}</p>

{% if site.owner.email %}
<p style="text-indent:0;margin-top:1.5em;">
  <a href="mailto:{{ site.owner.email }}" target="_blank">
    <img src="https://img.icons8.com/ios-filled/18/000000/new-post.png" alt="Email icon" style="margin-right:5px;">
    Email
  </a>
</p>
{% endif %}

{% if site.owner.cv %}
<p style="text-indent:0;">
  <a href="{{ site.owner.cv }}">
    <img src="https://img.icons8.com/material-outlined/18/000000/cv.png" alt="CV icon" style="margin-right:5px;">
    My CV
  </a>
</p>
{% endif %}

{% if site.owner.github %}
<p style="text-indent:0;">
  <a href="https://github.com/{{ site.owner.github }}">
    <img src="https://img.icons8.com/ios-filled/18/000000/github.png" alt="GitHub icon" style="margin-right:5px;">
    GitHub
  </a>
</p>
{% endif %}

{% if site.owner.linkedin %}
<p style="text-indent:0;">
  <a href="https://linkedin.com/in/{{ site.owner.linkedin }}">
    <img src="https://img.icons8.com/ios-filled/18/000000/linkedin.png" alt="LinkedIn icon" style="margin-right:5px;">
    LinkedIn
  </a>
</p>
{% endif %}

{% if site.owner.instagram %}
<p style="text-indent:0;">
  <a href="https://instagram.com/{{ site.owner.instagram }}">
    <img src="https://img.icons8.com/ios-filled/18/000000/instagram-new.png" alt="Instagram icon" style="margin-right:5px;">
    Instagram
  </a>
</p>
{% endif %}

{% if site.owner.scholar %}
<p style="text-indent:0;">
  <a href="{{ site.owner.scholar }}">
    <i class="ai ai-google-scholar-square" style="font-size:16px;margin-right:5px;"></i>
    Google Scholar
  </a>
</p>
{% endif %}

{% if site.owner.researchgate %}
<p style="text-indent:0;">
  <a href="{{ site.owner.researchgate }}">
    <img src="https://img.icons8.com/ios-filled/18/000000/researchgate.png" alt="ResearchGate icon" style="margin-right:5px;">
    ResearchGate
  </a>
</p>
{% endif %}

{% if site.owner.bilibili %}
<p style="text-indent:0;">
  <a href="https://space.bilibili.com/{{ site.owner.bilibili }}">
    <img src="https://img.icons8.com/ios-filled/18/000000/tv.png" alt="Bilibili icon" style="margin-right:5px;">
    Bilibili
  </a>
</p>
{% endif %}

{% if site.owner.blog %}
<p style="text-indent:0;">
  <a href="{{ site.owner.blog }}">
    <img src="https://img.icons8.com/ios-filled/18/000000/blog.png" alt="Blog icon" style="margin-right:5px;">
    Blog
  </a>
</p>
{% endif %}
